<div class="container bg-body">
  <img [src]="ticket" alt="">
  <h2>RESERVAS</h2>
  <h1>{{titulo}}</h1>
  <p>{{fecha}}</p>
  <div class="card-group">
    <div class="card" *ngFor="let Reservas of reservasList">
      <li><b>ID:</b> # {{Reservas.id}}</li>
      <li><b>Nombre:</b> {{Reservas.nombre}}</li>
      <li><b>Email:</b> {{Reservas.email}}</li>
      <li><b>Cantidad:</b> {{Reservas.cantidad}}</li>
    </div>
  </div>

  <div class="pieTabla">
    <p class="h5">Total cantidad de entradas reservadas:</p>
    <p class="h4">{{reservastotal}}</p>
  </div>
</div>
  <app-gifcarg></app-gifcarg>