tbody, thead {
    text-align: start;
    font-size: 0.90rem;
}

.pieTabla {
    display: flex;
    text-align: center;
    gap: 1em;
    padding: 1em;
}

.container {
    text-align: start;
    list-style: none;
    gap: 1em;
}

.card {
    padding: 1em;
}

img {
    width: 100px;
}